.separator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator hr {
  border: none;
  background-color: gray;
  height: 1px;
  width: 100%;
  margin: 0;
}

.separator .or {
  margin: 0 1rem;
  color: gray;
}
